/*
 * Authors: noob247365, AkiraLaine
 * Contributors: joshuagollaher
 * Date Modified: 2016/02/14
 * File: style.css
 * Description: Main styling
 */

h1, input {
    text-align: center;
}

.item {
    font-size: 20px;
    text-align: left;
    margin: 0;
}

.item-left {
    float: left;
}

.item-right {
    float: right;
}
.item-right a {
    display: inline-block;
}

.clearfix {
    clear: both;
}